<a href="https://colab.research.google.com/github/harsh7742/pyDS/blob/master/day1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Ques 1:- list of the first 15 even numbers that are not divisible by 6

In [1]:
l = []
x = 0
count = 0
while True:
  if x % 6 != 0 and x % 2 == 0:
    count = count + 1
    l.append(x)
  if count == 15:
    break
  x = x + 1

print(l)

[2, 4, 8, 10, 14, 16, 20, 22, 26, 28, 32, 34, 38, 40, 44]