<a href="https://colab.research.google.com/github/harsh7742/pyDS/blob/master/Merge_data_frame.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd

In [0]:
df1 = pd.DataFrame({'lkey': ['faa', 'baa', 'bzz', 'faa'],
                    'value': [2, 3, 5, 7]})
df2 = pd.DataFrame({'rkey': ['faa', 'baa', 'bzz', 'faa'],
                    'value': [7, 8, 9, 10]})

In [4]:
df1.merge(df2, left_on='lkey', right_on='rkey')

  lkey  value_x rkey  value_y
0  faa        2  faa        7
1  faa        2  faa       10
2  faa        7  faa        7
3  faa        7  faa       10
4  baa        3  baa        8
5  bzz        5  bzz        9

In [5]:
df1.merge(df2, left_on='lkey', right_on='rkey',
          suffixes=('_left', '_right'))

  lkey  value_left rkey  value_right
0  faa           2  faa            7
1  faa           2  faa           10
2  faa           7  faa            7
3  faa           7  faa           10
4  baa           3  baa            8
5  bzz           5  bzz            9